@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF0ED;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EFF0ED;
}

.logo {
    max-width: 150px;
    margin-left: 50px;
}

section {
    text-align: left;
    padding: 0px 200px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-top: 30px;
}

h3{
    margin-top: 30px;
}

p, li {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    max-width: 1000px;
    margin-top: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    border: 1px solid #000000;
}

#Wireframes img {
    display: block;
    max-width: 100%;       
    margin: 0 auto;
}

#information-Structure img, #userFlow img, #Bubble-diagram img, #scatter-Plot img, #pie-chart img {
    display: block;
    max-width: 70%;       
    margin: 0 auto;
    margin-top: 30px;
}

.phone-img {
    max-height: 330px;
    width: auto;
}

#userFlow {
    padding: 0px 200px;
}

#userFlow h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
}


#userFlow p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    max-width: 1000px;
    padding-top: 0px;
    margin-bottom: 40px;
}

button, #TopBtn {
    background-color: #3b6021;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

#Essay-btn {
    background-color: #3b6021;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

#Essay-btn a {
    color: #EFF0ED;
}

button:hover, #TopBtn:hover, #Essay-btn:hover {
    background-color: #00b333;
}

.Essay{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom: 40px;
    margin-top: 20px;
}

.BacktoTop {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom: 40px;
    margin-top: 100px;
}


@media (max-width: 992px) {
    .logo {
        margin-left: 0; 
        margin-bottom: 10px;
    }
    section {
        padding: 0 20px;
    }
    button, #TopBtn, #Essay-btn {
        width: auto; 
        padding: 6px 12px; 
        margin: 5px; 
        font-size: 12px; 
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px; 
    }
    h2 {
        font-size: 24px; 
    }
    p, li {
        font-size: 14px; 
    }
    #userFlow img {
        max-width: 70%; 
    }
    button, #TopBtn, #Essay-btn {
        width: auto; 
        padding: 6px 12px; 
        margin: 5px; 
        font-size: 12px; 
    }
   
}