@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo {
    max-width: 150px;
    margin-left: 50px;
} 