@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF0ED;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EFF0ED;
}

.logo {
    max-width: 150px;
    margin-left: 50px;
}

/* Home-info */
.Home-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    background-color: #EFF0ED;
}

.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-size: 40px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 0px;
}

.text-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #000;
    margin: 20px 0;
}

.text-content button {
    background-color: #3b6021;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.text-content button:hover {
    background-color: #2b4516;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

#CEO {
    text-align: center; 
    margin: 20px auto; 
    padding: 20px;
    max-width: 1200px;
    margin-bottom: 0px;
}

#CEO h2 {
    font-size: 40px; 
    margin-bottom: 23px; 
}

#CEO img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; /* This section of the code makes the CEO picture become a circle */
    object-fit: cover; /* The picture had a weird stretch so this line makes it fit properly */
    margin-bottom: 15px; 
}

#CEO h3 {
    margin: 10px 0;
}

#CEO p {
    margin: 5px 0; 
}

/* Goals */
 
.Goal-Card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1300px;
    margin: 20px auto;
    color: #000000;
}

.Goal-Card .content {
    flex: 1;
    padding-right: 20px;
}

.Goal-Card .image {
    flex: 1;
    text-align: center;
}

.Goal-Card h2 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.Goal-Card p {
    font-size: 16px;
}

.Goal-Card h2, .Goal-Card h3, .Goal-Card p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-left: 60px;
}

.Goal-Card ul li {
    display: list-item;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.Goal-Card img {
    max-width: 110%;
    height: auto;
    border-radius: 20px;
}

/*Sponsors*/
#sponsor-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#Sponsors {
    align-items: center;
    padding: 20px;
    max-width: 1300px;
    margin: 20px auto;
    color: #000000;
}

#Sponsors h2 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.sponsor-item {
    text-align: center;
    margin: 10px;
}

.sponsor-item img {
    width: 150px;
    height: auto;
}

.sponsor-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

/* Media Queries */

@media (min-width: 1200px) { /* For the laptop */
    .Home-info {
        padding: 10px 150px;
    }

    .Goal-Card {
        max-width: 1300px;
    }

    
    .logo{
        justify-content: left;
    }
}

@media (max-width: 992px) { /* For the tablet */
    .Home-info {
        flex-direction: column;
        padding: 10px 50px;
        align-items: center;
        margin-top: 5px;
    }

    .text-content h1 {
        font-size: 32px;
    }

    .text-content p {
        font-size: 14px;
    }

    .text-content button {
        padding: 8px 30px;
        font-size: 16px;
    }

    .Goal-Card {
        flex-direction: column;
        text-align: center;
    }

    .Goal-Card h2 {
        font-size: 36px;
        margin-left: 0;
    }

    .Goal-Card p {
        font-size: 14px;
    }

    .Goal-Card ul li {
        margin-left: 0;
    }

    #CEO h2 {
        font-size: 32px;
    }

    .logo {
        max-width: 100px;
        margin-left: 20px;
        justify-content: left;
    }
}

@media (max-width: 768px) { /* For the phone */
    .Home-info {
        padding: 10px;
        margin-top: 5px;
    }

    .text-content h1 {
        font-size: 20px;
    }

    .text-content p {
        font-size: 12px;
    }

    .text-content button {
        padding: 8px 20px;
        font-size: 10px;
    }

    #CEO h2 {
        font-size: 20px;
    }

    #CEO img {
        width: 100px;
        height: 100px;
    }

    .Goal-Card h2 {
        font-size: 20px;
    }

    .sponsor-item img {
        width: 100px; 
    }

    .logo {
        max-width: 100px;
        margin-left: 20px;
        justify-content: left;
    }
}

