@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #182b4d; */
}

.nav__links li, a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 100px; 
    width: 250px;
    height: auto;
}

.nav__links {
    list-style: none;
    display: flex; 
    justify-content: center; 
    margin: 0;
}

.nav__links li {
    display: inline-block;
    padding: 25px 35px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0d7e07;
}

.current-page {
    color: #2a9833;
    font-weight: bold;
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    z-index: 1000; 
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #edf0f1;
    margin: 3px 0;
}

@media screen and (max-width: 1024px) {
    .nav__container {
        position: relative;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px; 
        left: 50%; 
        transform: translateX(-50%); 
        background-color: #4f9c7c;
        width: 90%; 
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
        border-radius: 5px; 
        z-index: 999; 
    }

    .nav__links.show {
        display: flex; 
    }

    .nav__links li {
        display: block;
        padding: 10px 0;
    }

    .hamburger {
        display: flex; 
        position: absolute; 
        top: 15px; 
        right: 25px; 
        cursor: pointer; 
    }

    .hamburger div {
        width: 30px; 
        height: 5px; 
        background-color: black; 
        margin: 4px 0; 
        transition: background-color 0.3s ease; 
    }
}

@media screen and (max-width: 768px) {
    .nav__container {
        position: relative;
    }

    .nav__links {
        display: none; 
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px; 
        left: 50%; 
        transform: translateX(-50%); 
        background-color: #4f9c7c;
        width: 90%; 
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
        border-radius: 5px; 
        z-index: 999; 
    }

    .nav__links.show {
        display: flex; 
    }

    .nav__links li {
        display: block;
        padding: 10px 0;
    }

    .hamburger {
        display: flex; 
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer; 
    }

    .hamburger div {
        width: 30px; 
        height: 5px; 
        background-color: black; 
        margin: 4px 0; 
        transition: background-color 0.3s ease; 
    }
}
