@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
} 

.Plan-Card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F8; 
    border-radius: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: 20px auto;
    color: #000000;
}

.Plan-Card .content {
    flex: 1;
    padding-right: 20px;
}

.Plan-Card .image {
    flex: 1;
    text-align: center;
}

.Plan-Card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
    margin-left: 60px;
}
.Plan-Card h2, .Plan-Card h3, .Plan-Card p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-left: 60px;
}

.Plan-Card ul li {
    display: list-item;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.Plan-Card img {
    max-width: 103%;
    height: auto;
    border-radius: 20px;
}

.Plan-Card button {
    background-color: #1E3706;
    color: white;
    border: none;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 60px;
    display: block;
}

.back-btn {
    background-color: #3b6021; 
    color: white;              
    border: none;              
    padding: 10px 20px;       
    font-size: 16px;          
    cursor: pointer;           
    border-radius: 5px;       
    transition: background-color 0.3s ease; 
    margin-left: 100px;
}

.back-btn:hover {
    background-color: #517f5e; 
}


#Berry-btn {
    background-color: #6b2527; 
}

#Berry-btn:hover {
    background-color: #ab2828; 
}

#Citrus-btn {
    background-color: #eea60d; 
}

#Citrus-btn:hover {
    background-color: #df8301; 
}

#Tropical-btn {
    background-color: #c97f3f; 
}

#Tropical-btn:hover {
    background-color: #eea60d; 
}

.Plan-Card button:hover {
    background-color: #2f972c; 
}

.logo {
    max-width: 150px;
    margin-left: 50px;
}

/* Media Queries */

@media (min-width: 1200px) { /* Laptop sizes */
    .Plan-Card {
        max-width: 1100px;
    }
}

@media (max-width: 992px) { /* Tablet sizes */
    .Plan-Card {
        flex-direction: column;
        text-align: center;
    }

    .Plan-Card h1 {
        font-size: 40px;
        margin-left: 0;
    }

    .Plan-Card h2, .Plan-Card h3, .Plan-Card p, .Plan-Card ul li {
        font-size: 18px;
        margin-left: 0;
    }

    .Plan-Card button {
        margin-left: 0;
    }
}

@media (max-width: 768px) { /* Phone sizes */
    .Plan-Card {
        padding: 10px;
        text-align: center;
    }

    .Plan-Card h1 {
        font-size: 32px;
    }

    .Plan-Card h2, .Plan-Card h3, .Plan-Card p, .Plan-Card ul li {
        font-size: 14px;
    }

    .Plan-Card img {
        max-width: 100%;
    }

    .Plan-Card button {
        padding: 8px 30px;
        font-size: 14px;
    }
}
