@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF0ED;
    overflow: hidden;  /*This makes the page non-scrollable, I did this because this is the end point in the website and there isn't anything the user can see.*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EFF0ED;
}

.logo {
    max-width: 150px;
    margin-left: 50px;
} 

.back-btn {
    background-color: #3b6021; 
    color: white;              
    border: none;              
    padding: 10px 20px;       
    font-size: 16px;          
    cursor: pointer;           
    border-radius: 5px;       
    transition: background-color 0.3s ease; 
    margin-left: 100px;
}

h2 {
    text-align: center; 
    margin-top: 100px;
}

#image-container {
    text-align: center;
}

#image-container img {
    margin-top: -0px;
    max-width: 40%; 
    height: auto;
}

/*For tablets */
@media (max-width: 1024px) {
    body {
        padding: 0 20px; 
    }

    header {
        padding: 15px;
    }

    .logo {
        max-width: 100px;
        margin-left: 20px;
    }

    h2 {
        margin-top: 80px;
        font-size: 28px;
        margin-top: 5px;
    }

    #image-container img {
        max-width: 60%; 
    }
}

/* For Phones */
@media (max-width: 768px) {
    body {
        padding: 0 10px; 
    }

    header {
        padding: 10px;
        justify-content: center; 
    }

    .logo {
        max-width: 100px;
        margin-left: 20px;
    }
 
    h2 {
        margin-top: 60px;
        font-size: 24px;
    }

    #image-container img {
        max-width: 70%; 
    }
}
